*{
  margin: 0;
  padding: 0;
}
.head-container{
height: 100px;
background-color: orange;
font-size: 20px;
display: flex;
flex-direction: column;
text-align: center;
/* align-items: center; */
justify-content: space-between;
}
.home--text-box{
  display: flex;
  margin: 0 10px;
  line-height: 50px;

}
.header--text-box{
  height: 50px;
}
nav{
    display: flex;
    height: 50px;
    background-color: blue;
    font-size: 20px;
    width: 100%;
    justify-content: space-between;
}
.menu::after{
  display: block; 
  content: ''; 
  clear:both;
}
.main{
  background-color: bisque;
  padding: auto;
  margin: auto;

}
.menu > li{
position: relative;
float: left;
margin: 0 10px;
line-height: 50px;
}
.menu > li > a{display: block; padding: 0 15px; line-height: 50px; color: #fff;}
.menu > li:hover .depth_1{display:block;}
.menu .depth_1{display: none; position: absolute; left: 0; right: 0;text-align: center;}
.menu .depth_1 a{display: block; padding: 5px; color: #fff; background-color: blueviolet;}
ul{
  /* display: flex; */
  list-style: none;
}
